<%= link_to 'Back', root_path %>

<% if alert %>
  <p id="error_explanation"><%= alert %></p>
<% end %>

<h1>Admin Login</h1>

<%= form_tag admin_sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class=”actions”>
    <%= submit_tag "Login" %>
  </div>
<% end %>
